@using WebApp.Helpers;
<script src="~/Scripts/Views/Financial/vFinancialAccount.js"></script>

@{
    ViewBag.Title = "vFinancialAccount";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Perfil Entidad Financiera</h2>


