@using WebApp.Helpers;
<script src="~/Scripts/Views/Financial/vFinancialList.js"></script>
@{
    ViewBag.Title = "vFinancialList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div style="margin-top: 20px;" id="financialList" class="d-inline">
    @Html.CtrlTable(viewName: "vFinancialList", id: "tblFinancial1", title: "Entidades Financieras",
    columnsTitle: "Nombre de usuario,Estado", ColumnsDataName: "FinancialLogin,UserActiveStatus", onSelectFunction: "BindFields")
</div>

 