@using WebApp.Helpers;
@{
    ViewBag.Title = "vRegisterFinancial";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="home">
    <div class="container">
        <div class="row text-center justify-content-between">
            <div class="col-lg-5 col-sm-11">
                <div class=" text-box">
                    <h1 class="home-title">BOLSA DE EMPLEO</h1>
                    <p class="subtitle home-subtitle-1">
                        En está sección, todos los estudiantes podrán subir sus hojas de vida,
                        para ser evaluados por los reclutadores de entidades financieras
                    </p>
                    <p class="subtitle home-subtitle-2">Exclusiva para egresados de Banking Coach</p>
                </div>
            </div>
            <div class="col-lg-6 col-sm-11">
                <img class="img" src="~/Content/imgs/Empleo.jpg" alt="">

                <div class="container">
                    <div class="row justify-content-center">
                        <div class="text-center my-4">

                            <h1 class="form-title">REGISTRA A LA ENTIDAD FINANCIERA</h1>
                        </div>
                        <form id="formLogin" class="formLogin">
                            <div class="col-sm-12 text-center">
                                <div class="form-row ">
                                    <div class="col-lg-12">
                                        @Html.CtrlInputSecond(id: "txtLogin", type: "text", placeHolder: "Nombre de Usuario", columnDataName: "Login")
                                        @Html.CtrlInputSecond(id: "txtPassword", type: "password", placeHolder: "*********", columnDataName: "Password")
                                        @Html.CtrlInputSecond(id: "txtConfirmPassword", type: "password", placeHolder: "*********", columnDataName: "ConfirmPassword")
                                       
                                    </div>
                                </div>
                            </div>
                            <div class="form-row" style="margin: 0px auto;">
                                <div style="margin: 0px auto 10px;">
                                    @Html.CtrlButton(viewName: "vRegisterFinancial", type: "button", id: "btnLogin", label: "Registrar", onClickFunction: "RegisterFinancial", buttonType: "orange")
                                </div>
                            </div>
                        </form>
                    </div>

                </div>
            </div>
        </div>
    </div>
