
*.cache

.vs/

CoreAPI/bin/

CoreAPI/obj/

DataAcess/bin/

DataAcess/obj/

Entities-POJO/bin/

Entities-POJO/obj/

Exceptions/bin/

Exceptions/obj/

WebAPI/bin/

WebAPI/obj/

WebApp/bin/

WebApp/obj/


*.pdb
