@using WebApp.Helpers;
<script src="~/Scripts/Views/Reports/ReportHistoryRecruitment.js"></script>
@{
    ViewBag.Title = "ReportHistoryRecruitment";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div style="margin-top: 20px;" id="historyRecruitmentList" class="d-inline">
    <div class="col-lg-12 col-sm-11">
        <div class="container-fluid">
            <div class="justify-content-center">
                <div class="card border-secondary mb-6">
                    <div class="card-header">Historial de Estudiantes Reclutados</div>
                    <div class="card-body" style="overflow: auto;">
                        <table id="tblHistoryRecruitment" class="display" cellspacing="0" width="100%" style="font-size: 0.81em;" >
                            <thead>
                                <tr>
                                    <th>Id</th>
                                    <th>Estudiante</th>
                                    <th>Número de Identificación</th>
                                    <th>Compañía</th>
                                    <th>Seleccionado por</th>
                                    <th>Fecha de Reclutamiento</th>
                                    <th>Pruebas Económicas</th>
                                    <th>Pruebas Psicométricas</th>
                                    <th>Entrevista</th>
                                    <th>Contratacíón</th>
                                    <th>Fecha de Actualización</th>
                                    <th>Actualizado por</th>
                                    <th>Fecha de Finalización</th>
                                    <th>Observaciones</th>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

