@using WebApp.Helpers;
<script src="~/Scripts/Views/SysAdmin/vSysAdminList.js"></script>
@{
    ViewBag.Title = "vSysAdminList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<button class="btn btn-orange" id="updateAdmin">Actualizar administrador seleccionado</button>
<button class="btn btn-orange" id="removeAdmin">Eliminar administrador seleccionado</button>

<div style="margin-top: 20px;" id="sysAdminList" class="d-inline">
    @Html.CtrlTable(viewName: "vSysAdminList", id: "tblSysAdmin", title: "Administradores del sistema",
    columnsTitle: "Nombre de Usuario,Nombre, Correo Electrónico, Estado", ColumnsDataName: "AdminLogin,Name,Email,UserActiveStatus", onSelectFunction: "BindFields")
</div>
