@using WebApp.Helpers;
<script src="~/Scripts/Views/SysAdmin/vSysAdminList.js"></script>
@{
    ViewBag.Title = "vSysAdminList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div style="margin-top: 20px;" id="sysAdminList" class="d-inline">
    @Html.CtrlTable(viewName: "vSysAdminList", id: "tblSysAdmin", title: "Administradores del sistema",
    columnsTitle: "Nombre de Usuario, Estado", ColumnsDataName: "AdminLogin,UserActiveStatus", onSelectFunction: "BindFields")
</div>
 