@using WebApp.Helpers;
<script src="~/Scripts/Views/SysAdmin/vSysAdminAccount.js"></script>
@{
    ViewBag.Title = "vSysAdminAccount";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Perfil Administrador del Sistema</h2>

<input type="text" id="txtIdSysAdmin" class="d-none">

<script>
    $(document).ready(function () {
        var sysAdminAccount = new vSysAdminAccount();
        document.getElementById("txtIdSysAdmin").value = "@ViewBag.IdSysAdmin";

        sysAdminAccount.GetData();

    });
</script>