

<div class="modal fade" id="addAcademic" tabindex="-1" aria-labelledby="addAcademicLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addAcademicLabel">Agregar Experiencia Académica</h5>
                <button type="button" class="btn-close" data-dismiss="modal" aria-label="Cerrar"></button>
            </div>
        </div>
        <div class="modal-body">
            Esta es el cuerpo del agregar academico
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar </button>
            <button type="button" class="btn btn-orange" id="registerAcademic">Registrar </button>
        </div>
    </div>
</div>