@using WebApp.Helpers;

<script src="~/Scripts/Views/Recruiter/Recruitment.js"></script>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .btn {
        width: 50px;
    }
    table.dataTable thead th, table.dataTable thead td {
        padding: 10px 6px;
    }
</style>
<div class="d-flex justify-content-center savepdf">
    <div class="row text-center justify-content-between">
        <div class="col-lg-12 col-sm-11">
            <div class=" text-box ">
                <h1>ÁREA DE RECLUTAMIENTO</h1>
                <p class="subtitle home-subtitle-1">
                    Ingrese los criterios de selección que requiere en los candidatos:
                </p>
            </div>
        </div>
        <div class="col-lg-12 col-sm-11">
            <div class="container-fluid">

                <div class="justify-content-center">
                    <div class="card border-secondary mb-6">
                        <div class="card-header">Estudiantes posibles a reclutar</div>
                        <div class="card-body">
                            <table id="resultList" class="display" cellspacing="0" width="100%"
                                   ColumnsDataName="FirstName,FirstLastName,IdType,IdentificationNumber,Birthdate,Country,Residence,JobAvailability,Type_Vehicle,Licenses,Sex,Curriculum">
                                <thead>
                                    <tr>
                                        <th>Nombre </th>
                                        <th>Apellido </th>
                                        <th>Tipo de documento </th>
                                        <th>Número de Identificación</th>
                                        <th>Fecha Nacimiento</th>
                                        <th>País de Origen</th>
                                        <th>Residencia en Costa Rica</th>
                                        <th>Disponibilidad Laboral</th>
                                        <th>Vehículos</th>
                                        <th>Licencias de conducir </th>
                                        <th>Sexo</th>
                                        <th>CV</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <!--<tr>
                                            <td>Mariano</td>
                                            <td>Mercedes</td>
                                            <td>Cédula persona física</td>
                                            <td>Panamá</td>
                                            <td>San José, San José, El Carmen</td>
                                            <th>A1, B1</th>
                                            <td>Femenino</td>
                                             <td>Inglés: Avanzado, Francés: Básico</td>
                                    <td><button>Descargar</button></td>
                                                                                </tr>-->

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <p>El máximo de descargas por su usuario es de 20 al mes</p>
        </div>
    </div>

</div>
    <div class="d-none savepdf" style="color:#000000!important">
        <div class="container pdf" id="my_info">
            <div class="row flex-rows">
                <div class="col-lg-7">
                    <p><strong>Estudiante de Banking Academy: </strong><span id="P_BankingStudent"></span></p>
                    <p><strong>Nombre Completo: </strong><span id="P_CompleteName"></span></p>
                    <p><strong>País de Origen: </strong><span id="P_Country"></span></p>
                    <p><strong>Residencia en Costa Rica: </strong><span id="P_Location"></span></p>
                    <p><strong>Tipo de documento: </strong><span id="P_Id_Type"></span></p>
                    <p><strong>Número de Identificación: </strong><span id="P_IdentificationNumber"></span></p>
                    <p><strong>Fecha de Nacimiento: </strong><span id="P_Birthdate"></span></p>
                    <p><strong>Edad: </strong><span id="P_Age"></span></p>
                    <p><strong>Correo Electrónico: </strong><span id="P_Email"></span></p>
                </div>
                <div class="col-lg-4">
                    <p><strong>Teléfono Principal </strong><span id="P_PhoneNumber"></span></p>
                    <p><strong>Teléfono Secundario </strong><span id="P_SecondPhoneNumber"></span></p>
                    <p><strong>Licencia(s): </strong><span id="P_DriverLicenses"></span></p>
                    <p><strong>¿Con Vehículo?: </strong><span id="P_Vehicle"></span></p>
                    <p id="P_Type_Vehicle"></p>
                    <p><strong>Estado de Disponibilidad: </strong><span id="P_JobAvailability"></span></p>
                </div>
            </div>
        </div>
        <div class="col-lg-10" id="profileContentContainer">
            <p>Con experiencia en: <span id="profileContent"></span></p>
        </div>
    </div>



<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.3.2/jspdf.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.10.1/html2pdf.bundle.min.js" integrity="sha512-GsLlZN/3F2ErC5ifS5QtgpiJtWd43JWSuIgh7mbzZ8zBps+dvLusV+eNQATqgA/HdeKFVgA5v3S/cIrLF7QnIg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
