@using WebApp.Helpers;
<script src="~/Scripts/Views/Recruiter/vRecruiterAccount.js"></script>

@{
    ViewBag.Title = "vRecruiterAccount";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Búsqueda de estudiantes a Reclutar</h2>

<input type="text" id="txtIdRecruiter" class="d-none">

<script>
    $(document).ready(function () {
        var vrecruiterAccount = new vRecruiterAccount();
        document.getElementById("txtIdRecruiter").value = "@ViewBag.IdRecruiter";

        vrecruiterAccount.GetData();

    });
</script>