@using WebApp.Helpers;
<script src="~/Scripts/Views/EntityUser/vEntityAccount.js"></script>

@{
    ViewBag.Title = "vEntityAccount";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Búsqueda de estudiantes</h2>





