
.bg-gray {
    background-color: #252424;
    background:url(imgs/background.png);
    background-repeat:repeat-y;
    background-size:cover;
}


.bg-top {
    top: 0;
    position: absolute;
    right: 0;
    position: fixed;
}

.bg-bottom {
    bottom: 0;
    position: absolute;
    left: 0;
    position: fixed;
}

.home .text-box {
    margin: 20px 0;
}

.home-title {
    font-size: 6em;
    color: #ffffff;
    text-align: center;
}

.subtitle {
    text-align: center;
}

.home-subtitle-1 {
    font-size: 1.3em;
    color: #ffffff;
}

.home-subtitle-2 {
    font-size: 1.5em;
    color: #fa8d00;
}

.form {
    margin: 40px auto;
    width: 100%;
}

input {
    width: 100%;
}

.form-row .input-secondary {
    color: #fff !important;
    width: 100%;
    border: none;
    border-radius: 1px;
    font-size: 16px;
    background-color: rgba(255, 255, 255, 0.329);
    background-position: 10px 10px;
    background-repeat: no-repeat;
    padding: 14px 20px;
    margin: 0px auto;
}

.form-row input::placeholder {
    color: #fff;
    opacity: 1;
}

.form-row .rememberme {
    margin: 8px 20px;
}

    .form-row .rememberme label {
        color: #fff;
        display: flex !important;
        align-content: space-around;
    }

.ckbRememberme {
    width: 7%;
    height: 16px;
}

.btn-orange {
    width: 200px;
    border: none;
    border-radius: 8px;
    background: rgb(250,141,0);
    background: linear-gradient(90deg, rgba(250,141,0,1) 12%, rgba(254,211,90,1) 97%);
    color: #fff;
    font-size: 1.4em;
    font-weight: 600;
    padding: 12px 20px;
}

.form-group {
    margin-bottom: 0.2rem;
}

.form-title {
    font-size: 2em;
}

.img {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: auto;
    opacity: 0.4;
    z-index: -2;
    border-radius: 40px;
}



.card {
    background-color: #ffffff2e;
    color: #fff;
}


table.dataTable tbody tr {
    background-color: #fffcfc00;
}


.dataTables_wrapper .dataTables_length, .dataTables_wrapper .dataTables_filter, .dataTables_wrapper .dataTables_info, .dataTables_wrapper .dataTables_processing, .dataTables_wrapper .dataTables_paginate,
.dataTables_wrapper .dataTables_paginate .paginate_button.disabled, .dataTables_wrapper .dataTables_paginate .paginate_button.disabled:hover, .dataTables_wrapper .dataTables_paginate .paginate_button.disabled:active {
    color: #fff;
}



table.dataTable tbody tr {
    background-color: #fffcfc00;
}



table.dataTable.display tbody tr.even > .sorting_1, table.dataTable.order-column.stripe tbody tr.even > .sorting_1 {
    background-color: #ffffff05;
}

table.dataTable.display tbody tr.even > .sorting_1, table.dataTable.order-column.stripe tbody tr.even > .sorting_1 {
    background-color: #ffffff05;
}


table.dataTable.display tbody tr.odd > .sorting_1, table.dataTable.order-column.stripe tbody tr.odd > .sorting_1 {
    background-color: f1f1f100;
}

table.dataTable.stripe tbody tr.odd, table.dataTable.display tbody tr.odd {
    background-color: #878787;
}