.navbar-light .navbar-nav .nav-link {
    color: rgb(0 0 0);
}

body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
  /*  padding-left: 15px;
    padding-right: 15px;
    padding-top: 75px;*/
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 600px;
}


#btnToTop {
    display: inline-block;
    background-color: #FF9800;
    width: 50px;
    height: 50px;
    text-align: center;
    border-radius: 4px;
    position: fixed;
    bottom: 30px;
    right: 30px;
    transition: background-color .3s, opacity .5s, visibility .5s;
    opacity: 0;
    visibility: hidden;
    z-index: 1000;
}

    #btnToTop::after {
        content: "\f077";
        font-family: FontAwesome;
        font-weight: normal;
        font-style: normal;
        font-size: 2em;
        line-height: 50px;
        color: #fff;
    }

    #btnToTop:hover {
        cursor: pointer;
        background-color: #333;
    }

    #btnToTop:active {
        background-color: #555;
    }

#btnToTop.show {
    opacity: 1;
    visibility: visible;
}

/* Styles for the content section */



@media (min-width: 500px) {


    #btnToTop {
        margin: 30px;
    }
}
